<app-menu></app-menu>
<div class="container">
    <div class="content">
        Add wishlist
        <input (keyup.enter)="add(itemName.value);itemName.value=''" #itemName type="text" class="col-sm-3 form-control" />
        <br/>
        <button class="btn btn-success" (click)="add(itemName.value);itemName.value=''">Add</button>
    </div>
    <div class="content items-wrapper">
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
        <ul class="d-flex flex-wrap">
            <li *ngFor="let item of items">
                <i class="fa fa-trash" aria-hidden="true" (click)="delete(item)"></i>
                {{item.name}}
            </li>
        </ul>
    </div>
</div>
<!--end container-->