.content{
    padding: 15px;
}

.items-wrapper{
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            background:  rgb(239,232,232);
            margin: 10px;
            padding: 8px;
        }
        li.item-box{
             .fa-trash{
                 margin: 5px;
                 &:hover{
                     cursor: pointer;
                 }
             }
             .fa-pencil{
                 margin: 5px;
                 &:hover{
                     cursor: pointer;
                 }
             }
             .fa-floppy-o{
                 &:hover{
                     cursor: pointer;
                 }
             }
        }
    }
}